/* style texte */
.titre {
  background-color: #D9D9D9;
  color: #003466;
  font-family: verdana;
}

p {
  font-size: 1em;
  font-family: verdana;
}

/* aligner une img a un texte */
.float {
  float: right;
  width: 30%;
  height: 30%;
}

.floag {
  float: left;
  width: 30%;
  height: 30%,
}


/* img {
  width: 40%;
  height: 40%;
}

/* Menu nav */
@media screen and (min-width: 777px) {
#menu{
  z-index: 2;
  display: table;
  position: fixed;
  background-color: #2A2A2A;
  top: 60px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.50);
  padding-right: 25px;

}

#menu a {
  color: white;
  text-decoration: none;
}

#menu li{
  color: white;
}
}
